.container.education__container{
    display: grid;
    grid-template-rows: 1fr;
    gap: 2.5rem;
}

.education__places{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    
}


.education__details{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border:1px solid transparent;
    transition: var(--transition);
    
}

.education_details:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}