header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;

}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* ============ CTA ==================*/
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*======================== Socials =============*/
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}


/*============== ME ===============*/
.ME{
    background:  transparent;
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: calc(50% - 20rem);
    margin-top: 10rem;
    /*border-radius: 12rem 12rem 0 0; */
    overflow: hidden;
    /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
    
    
}

.badges__container {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

/* Individual badges */
.az900,
.terraform,
.aws {
    background: transparent;
    width: 10rem;
    height: 10rem;
    /* You can keep other badge styles as you prefer */
}

/* ======= badges ================== */


/* Container for the image row */
.image-row {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    align-items: flex-end; /* Align the images to the bottom */
  }
  
  /* Style for individual images */
  .image-item {
    margin: 100px 75px; /* Add margin to separate images */
    transition: transform 0.2s ease; /* Add a smooth transition effect */
  }
  
  /* Hover effect to zoom in the image */
  .image-item:hover {
    transform: scale(1.2); /* Increase the scale for zoom effect */
  }
  
  
  .image1 {
    max-width: 150px;
    height: 150px;
  }


/* ========= MEDIA Queries (Medium Devices) ========== */

@media screen and (max-width: 1024px) {

    header {
        height: 68vh;
    }
}


/* ========= MEDIA Queries (Small Devices) ========== */

@media screen and (max-width: 800px) {

    header{
        height: 100vh;
    }
    .header__socials,
    .scroll__down{
        display: none;
    }
    .image-item {
        margin: 75px 10px;
        flex: 0 0 30%; /* Full width on smaller screens */
      }
}